.caret {
	margin-left: 0.5em;
}

.glyphicon-envelope {
	margin-right: 0.5em;
	color: #1f7bc6;
}

.glyphicon-home {
	margin-right: 0.5em;
}

.patreon_icon {
	margin: -0.2em 0.5em 0 0;
	height: 1em;
	width: 1em;
}

.insignia {
	margin: 0 0.6em 0 0.6em;
	height: 1.2em;
	width: 1.2em;
}
