

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/all.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/darkstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <title>$title$</title>
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://store.steampowered.com/app/17740/">Empires<span><img class="insignia" align="middle" src="/img/IMP_insignia.png"></img></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              	<li><a class="return-home" href="/index.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  	Meet players
                  	<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                		<li><a href="http://forums.empiresmod.com" target="_blank">Chat on the forums</a></li>
                		<li><a href="http://steamcharts.com/app/17740" target="_blank">Current playercount</a></li>
                		<li><a href="http://steamcommunity.com/app/17740" target="_blank">Steam Community Hub</a></li>
                	</ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  	Learn
                  	<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Text Tutorials</li>
                    <li><a href="/docs/quickstart/quick_start.html" target="_blank">Quick-Start Guide</a></li>
                    <li><a href="/docs/index.htm" target="_blank">Manual</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Advanced topics</li>
                    <li><a href="https://wiki.empiresmod.com/Main_Page" target="_blank">Wiki</a></li>
                    <li><a href="https://wiki.empiresmod.com/Dedicated_Server_Setup" target="_blank">Server setup</a></li>
                  </ul>
                </li>
                <li class="dropdown">
               	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               	  	Developers
               	  	<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/static-html/team.html">Meet the team</a></li>
                  	<li><a href="/static-md/join.html">Join us</a></li>
                  	<li><a href="/archive.html">Developer blog</a></li>
                  	<li><a href="/financials.html">Financial reports</a></li>
                	</ul>
              	</li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Stuck?</li>
                    <li><a href="https://forums.empiresmod.com/index.php?forums/support.34/" target="_blank">Get community support</a></li>
                    <li><a href="https://forums.empiresmod.com/index.php?forums/bug-reports.6/" target="_blank">Report a bug</a></li>
                    <li><a href="https://github.com/EmpiresCommunity/website/issues/new" target="_blank">Report a website issue</a></li>
                  </ul>
                </li>
              	<li><a href="mailto:tama@empiresmod.com?body=Dear Empiresmod Developers,"><span class="glyphicon glyphicon-envelope"></span>Contact us</a></li>
              	<li><a href="https://www.patreon.com/Empires" target="_blank"><img class="patreon_icon" align="middle" src="/img/patreon_logo.png"></img>Support us</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <div class="spacer">&nbsp;</div>
        $body$
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/main.js" type="text/javascript"> </script>
    </body>
</html>
